.container:hover{
     border: 1px solid;
     padding: 10px;
     box-shadow: 10px 10px 5px #aaaaaa; 
     background-color: rgb(230, 229, 243);
}

#labeladj{
    width: 70.15px;
}

body{
    background-image: url();
}

h1{
    text-align: center;
}
.form-check{
    margin-left: 4px;
}

.btn{
    width: 190px;
}

div.form-check.form-check-inline{
    margin: 0px 6px 0px 12px;
    padding: 0% 0% 0% 2%
}

